h2.section-title
  span About
.row
    .span8.offset2.section-content
        p Deednik is founded on the idea that we can improve the world a little bit at a time.
        p The premise is simple: you anonymously report a good deed that you did, and others can vote it up or
          | down based on how it touches their heartstrings.
        p The good deed could be anything: holding the door open for someone, yielding a seat on a bus, or giving
          | your unused toys to a child.
          | Whatever you did to brighten someone's day, let the world hear about it.
        p The anonymity is key: this isn't for glory or boasting.  It's just decent folk showing each
          | other a little kindness.
        p Created by Nolan Lawson and Peter Rizov with lots of love for our fellow humans.
        p 
          | This web site is fully open-source and awaits your improvements
          a(href='http://github.com/nolanlawson/1goodturn') on GitHub
          | .