h2.section-title
  span About
.row
    .span8.offset2.section-content
        p One Good Turn is based on the idea that we can each help improve the world a little bit at a time.
        p The premise is simple: you anonymously report a good deed that you did, and others can vote it up or
          | down based on how it touches their heartstrings.
        p The good deed could be anything: holding the door open for someone, yielding a seat on a bus, giving your unused toys to a child.
          | Whatever you did that brightened someone's day, we want to hear about it.
        p The anonymity is key: this isn't for glory or boasting.  Just decent folk showing each other a little kindness.
        p
          | The name "One Good Turn" is inspired by the Boy Scout slogan: 
          a(href='http://www.usscouts.org/advance/boyscout/bsslogan.asp') Do a Good Turn Daily 
          | .
        p Created by Nolan Lawson and Peter Rizov with lots of hope for mankind.