header
  h1(id='main-title')
    span #{APP_INFO.description}
  h3 Stories of humans helping humans
  hr
  .container
    .row
      .span3.offset1(ng-controller="NewPostController")
        form
          fieldset.control-group(ng-class="{'warning' : showLengthWarning(), 'error' : showLengthError()}")
            legend What good deed did you do today?
            textarea.span4(ng-class="{'disabled' : disabled}",required,ng-model="newPost.content",rows="5",
            placeholder="{{randomPlaceholder}}")
            div(ng-cloak,style="display:none;",ng-show="initialClick && newPost.getLength() > 0",
            ng-animate="{ show: 'fadeIn', hide: 'fadeOut'}")
              .pull-left
                span.muted(ng-bind="getRemainingCharacters()",ng-class="{'warning' : showLengthWarning(), 'error' : showLengthError()}")
              .pull-right
                button.btn.btn-large.btn-primary(href='#',ng-click="submit()",ng-disabled="disabled || showLengthError()",ng-class="{'disabled' : disabled || showLengthError()}") Tell the world 
      .span7.offset1(ng-controller="RecentPostsController")
        h4 Latest turns
        .latestTurns(ng-show="recentPosts.list.length == 0")
          .well.pull-center
            img(src="images/ajax-loader.gif")
        .latestTurns(ng-repeat="post in recentPosts.list",ng-animate="{ enter : 'fadeIn'}")
          .well
            span {{post.content}}
            small.pull-right.muted {{getFriendlyDate(post)}}
        .latestTurns(ng-hide="recentPosts.exhausted")
          button.btn.btn-primary.span3.pull-center(ng-class="{disabled : loadingMore}",ng-click="loadMore()")
            img(ng-show="loadingMore",src="images/ajax-loader-btn.gif")
            span(ng-hide="loadingMore") Load more...