header
  h1(id='main-title')
    span #{appName}
  h3 Stories of humans helping humans
  hr
  .container
    .row
      .span3.offset1
        form
          fieldset.control-group(ng-class="{'warning' : showLengthWarning(), 'error' : showLengthError()}")
            legend What good deed did you do today?
            textarea.span4(ng-model="postContent",rows="5",placeholder="{{randomPlaceholder}}")
            div(ng-cloak,style="display:none;",ng-show="initialClick && postContent.length > 0",ng-animate="{ show: 'fadeIn', hide: 'fadeOut'}")
              .pull-left
                span.muted(ng-bind="getRemainingCharacters()",ng-class="{'warning' : showLengthWarning(), 'error' : showLengthError()}")
              .pull-right
                button.btn.btn-large.btn-primary(href='#',ng-click="submit()",ng-disabled="showLengthError()",ng-class="{'disabled' : showLengthError()}") Tell the world 
      .span7.offset1
        span world