extend layout
block content
    .container#main-container
      .navbar.navbar-inverse.navbar-fixed-top(ng-controller="TabController")
        .navbar-inner
          .container
            .btn.btn-navbar(data-toggle='collapse',data-target='.nav-collapse',type='div')
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.brand.main-logo(href='#/home',ng-click='selectedTabId="home"') #{APP_INFO.description}
            .ng-cloak.nav-collapse.collapse
              ul.nav
                li(ng-click="$parent.selectedTabId = tab.id",ng-repeat="tab in tabs",ng-class="{active: tab.id == $parent.selectedTabId}")
                  a(href='#',ng-href='{{tab.getHref()}}',ng-bind='tab.title')
            .pull-right.ng-cloak(ng-controller="SignupLoginButtonController")
              .small(ng-show="session.loggedIn")
                | {{session.username}}
              .btn.btn-inverse.pull-right.ng-cloak#login-btn(data-target="#signup-login-modal",data-toggle="modal",
                  ng-hide="session.loggedIn")
                | Signup / Login
              .btn.btn-inverse.pull-right.ng-cloak#logout-btn(ng-show="session.loggedIn",ng-click="logout()")
                | Logout
    
      #main-view-container
        #main-view(ng-view)

      include blocks/signup-login-modal