!!!5
html
  head
    title #{APP_INFO.description}

    if APP_INFO.production
      include blocks/head-production
    else
      //- often I'm on a slow/no connection when I'm developing, so use local libs
      include blocks/head-development
    link(rel='shortcut icon',type='image/x-icon',href='images/favicon.ico')

    //- ensure ng-cloaked elements aren't shown while the app is loading, @see ng-cloak in Angular API
    style [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak],     .ng-cloak, .x-ng-cloak {display: none;}
  body(ng-app="deednik")
    block content
    footer
      p
        small
          :markdown
            Created by [Nolan Lawson](http://nolanlawson.com).
            Version #{APP_INFO.version}.
    //- fetch from CDN, or local if not available

    if APP_INFO.production
      include blocks/body-production.jade
    else
      include blocks/body-development