!!!5
html
  head
    title #{appName}
    link(href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css",rel="stylesheet")
    link(href='styles/application.css',rel="stylesheet")
    link(rel='shortcut icon',type='image/x-icon',href='images/favicon.ico')
    link(href='http://fonts.googleapis.com/css?family=Chela+One',rel='stylesheet',type='text/css')
  body
    block content
    footer
      p
        :markdown
          Created by [Nolan Lawson](http://nolanlawson.com).
          Version #{appVersion}.
    //- fetch from CDN, or local if not available
    script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js")
    script
      window.angular || document.write('<script src="js/lib/angular-1.0.6.min.js">\x3C/script>')
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js")
    script
      window.jQuery || document.write('<script src="js/lib/jquery-1.8.3.min.js">\x3C/script>')
    script(src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js")
    script
      window.jQuery.fn.modal || document.write('<script src="js/lib/bootstrap-2.3.1.min.js">\x3C/script>')
    
