/* colors */
$bg              : #dfdfdf;
$border          : #333;
$logoBg          : #d64242;
$textBorderColor : #f0f0f0;

/* dimensions */
$textBorderWidth : 2px;

/* mixins */

@mixin main-logo($radius) {
    font-family: 'Chela One', cursive;
    background : $logoBg;
    padding : 0.1em 0.5em;
    border-radius: $radius;
}

@mixin text-border($color, $width) {
    text-shadow: (-1 * $width) 0 $color, 0 $width $color, $width 0 $color, 0 (-1 * $width) $color;
}

html {
    background: $bg;
}

body {
    max-width : 960px;
    margin    : 50px auto;
    padding   : 2em 20px;
    border-radius : 3px;
    border: 1px solid $border;
    font-size : 1.1em;
}

#main-container {
    max-width : 940px;
}

h1 {
    text-align:center;
}

h3 {
    text-align : center;
}

.section-title {
    
    text-align : center;
    padding-bottom: 1em;
    span {
        @include text-border($textBorderColor, $textBorderWidth);
        @include main-logo(0.2em);
        font-size: 1.5em;
        
    }
}

.section-content {
    margin: 0 4em;
    text-size: 1.3em;
    
    p {
        padding-bottom: 1.5em;
    }
}

#main-title {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    
    span {
        @include text-border($textBorderColor, $textBorderWidth);
        @include main-logo(0.1em);
        font-size : 2em;
    }
}