/* colors */
$bg              : #dfdfdf;
$border          : #333;
$logoBg          : #d64242;
$textBorderColor : #f0f0f0;
$bodyBg          : #fff;
$warning         : #c09853;
$error           : #b94a48;

/* dimensions */
$textBorderWidth : 2px;

/* time */
$fadeTime : 0.4s;

/* mixins */

@mixin main-logo($radius) {
    font-family: 'Chela One', cursive;
    background : $logoBg;
    padding : 0.1em 0.5em;
    border-radius: $radius;
}

@mixin text-border($color, $width) {
    text-shadow: (-1 * $width) 0 $color, 0 $width $color, $width 0 $color, 0 (-1 * $width) $color;
}

html {
    background: $bg;
}

body {
    background: $bg;
}

footer {
    margin-left: 10px;
}

#main-container {
    padding-top : 50px;
}

#main-view-container {
    background: $bodyBg;
    border-radius : 3px;
    border: 1px solid $border;
    font-size : 1.1em;
    padding: 25px;
}

#main-view {
    
}

h1 {
    text-align:center;
}

h3 {
    text-align : center;
}

.section-title {
    
    text-align : center;
    padding-bottom: 1em;
    span {
        @include text-border($textBorderColor, $textBorderWidth);
        @include main-logo(0.2em);
        font-size: 1.5em;
        
    }
}

.section-content {
    font-size  : 1.2em;
    line-height: 1.2em;
    p {
        
        padding-bottom: 1em;
    }
}

#main-title {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    
    span {
        @include text-border($textBorderColor, $textBorderWidth);
        @include main-logo(0.1em);
        font-size : 2em;
    }
}

.latestTurns {

    .well {
        width:80%;
    }
}

.pull-center {
    text-align : center;
}

/* fade in and out animation */

.fadeIn-setup,.fadeOut-setup {
  -webkit-transition: $fadeTime linear opacity;
  -moz-transition: $fadeTime linear opacity;
  -o-transition: $fadeTime linear opacity;
  transition: $fadeTime linear opacity;
}
.fadeIn-setup{
  opacity:0;
}
.fadeOut-setup{
  opacity:1;
}
.fadeIn-setup.fadeIn-start {
  opacity: 1;
}
.fadeOut-setup.fadeOut-start{
    opacity:0;
}

.postControls {
    background-color: $bodyBg;
}

span.muted.warning {
    color : $warning;
}

span.muted.error {
    color : $error;
}