@import "constants";
@import "mixins";
@import "media";
@import "animations";


/* css */

html {
    background: $bg;
}

body {
    background: $bg;
}

footer {
    margin-left: 10px;
}

.main-logo-font {
    @include main-logo-font;
}

.navbar .brand.main-logo {
    //font-size: 24px; //  up from 20px
}

ul.horizontal-navbar {
    list-style-type: none;
    margin: 0;
}

ul.horizontal-navbar li {
    float: left;
}

.nav-username {
    padding-right: 10px;
    line-height:40px;
    color : #fff;
}

#main-container {
    // offset for the navigational bar

    @media #{$midDesktop} {
        padding-top : 50px;
    }

    @media #{$subMidDesktop} {
        padding-top : 0px;
    }
}

#main-view-container {
    @include rounded-corners(3px);
    background: $bodyBg;
    border: 1px solid $border;
    font-size : 1.1em;
    padding: 25px;
}

#main-view {

}

h1 {
    text-align:center;
}

h3 {
    text-align : center;
}

.section-title {

    text-align : center;
    padding-bottom: 1em;
    span {
        @include text-border($textBorderColor, $textBorderWidth);
        @include main-logo(0.2em);
        font-size: 1.5em;

    }
}

.section-content {
    font-size  : 1.2em;
    line-height: 1.2em;
    p {

        padding-bottom: 1em;
    }
}

#main-title {
    white-space: nowrap;
    padding-top: 0.5em;
    padding-bottom: 0.5em;

    span {
        @include text-border($textBorderColor, $textBorderWidth);
        @include main-logo(0.1em);

        @media #{$phone} {
            font-size : 0.9em;
        }
        @media #{$tablet} {
            font-size : 1.5em;
        }
        @media #{$desktop} {
            font-size : 2em;
        }
        @media #{$largeDesktop} {
            font-size : 2.5em;
        }
    }
}

.latestTurns {

    .well {
        width:80%;
    }
}

.pull-center {
    text-align : center;
}
.align-right {
    text-align : right;
}

.postControls {
    background-color: $bodyBg;
}

/* special warning/error text */
span.muted {
    &.warning {
        color : $warning;
    }
    &.error {
        color : $error;
    }
}

/* area with the thumbs up/down and the counter */

.thumb-and-count {
    text-align  : right;
    display     : inline-block;
    min-width   : 50px;
    margin-left : 20px;

    .thumb {
        @include rounded-corners(3px);
        display : inline-block;
        padding : 2px 3px 0px 3px;
        cursor : hand;
        cursor : pointer;

        &:hover {
            border : 1px $border solid;
            margin : -1px;
        }

        &.selected.pos {
            background : $info;
        }

        &.selected.neg {
            background : $error;
        }
    }

    span {
        text-align : right;
        margin-left: 1px;
        float : right;
        min-width: 20px;
    }
}