@import "constants";

/* mixins */

@mixin rounded-corners($rad) {
    -webkit-border-radius: $rad;
    -moz-border-radius: $rad;
    -khtml-border-radius: $rad;
    border-radius: $rad;
}

@mixin transition($trans) {
    -ms-transition : $trans;
    -webkit-transition: $trans;
    -moz-transition: $trans;
    -o-transition: $trans;
    transition: $trans;
}

@mixin main-logo-font() {
    font-family: 'Lobster Two', cursive;
}

@mixin main-logo($radius) {
    @include rounded-corners($radius);
    @include main-logo-font;
    background : $logoBg;
    padding : 0.1em 0.2em;
    font-weight : bold;
}

@mixin text-border($color, $width) {
    text-shadow: (-1 * $width) 0 $color, 0 $width $color, $width 0 $color, 0 (-1 * $width) $color;
}